
/* Common */
.navbar-brand img {
    height: 40px !important;
}

.section-hero {
    height: 100vh !important;
}

.input-group-addon .input-group-text{
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

.form-group input:focus {
    border-color: #5e72e4 !important;
    color: #5e72e4;
}

.form-group input:focus::placeholder {
    transition: 0.3s;
    color: #5e72e4;
}

/* Home page */
#appointment-form {
    max-width: 300px;
    width: 100%;
}

/* Register page */
.user-widget img {
    border: 2px solid white;
}