<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body class="index-page">
    <div th:replace="fragments/navbar:: navbar"></div>

    <div class="wrapper">
        <div class="section section-shaped bg-secondary">
            <div class="navbar-background"></div>
            <div class="page-header">
                <div class="container shape-container py-lg text-white">
                    <div class="card mt-3 shadow-sm" style="width: 100%;">
                        <div class="card-body py-3 px-5">
                            <form action="goto-user" method="POST">
                                <h5 class="card-title mb-3">Find user</h5>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-hashtag"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="PPS Number" type="text" name="ppsn">
                                </div>
                                <button class="btn btn-primary" type="submit">
                                    <span class="btn-inner--icon"><i class="fa fa-search mr-1"></i></span>
                                    Search
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="fragments/footer :: footer"></footer>
    </div>
</body>

</html>