<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>

<body class="index-page">
    <div th:replace="fragments/navbar:: navbar"></div>

    <div class="wrapper">
        <div class="section section-shaped">
            <div class="navbar-background"></div>
            <div class="page-header">
                <div class="container py-lg px-4">
                    <h4 class="question-title mb-2">How many booster shots do I need?</h4>
                    <h6 class="question-details mb-3">
                        <a href="/profile">@Jessica Jones</a>
                        <span class="text-muted">&nbsp;&nbsp;<small>22/07/2021</small></span>
                    </h6>
                    <h6 class="question-text mb-4">I have 5 doses of Pfizer! Do I really need the 6th one? Thanks!</h6>

                    <div class="answers mt-6">
                        <div class="answer card mt-2">
                            <div class="card-body">
                                <h6 class="question-details mb-3">
                                    <a href="/profile">@HSE</a>
                                    <span class="text-muted">&nbsp;&nbsp;<small>22/07/2021</small></span>
                                </h6>
                                <h6 class="card-title mb-0">Yes!</h6>
                            </div>
                        </div>
                        <div class="answer card mt-2">
                            <div class="card-body">
                                <h6 class="question-details mb-3">
                                    <a href="/profile">@Doctor Rose</a>
                                    <span class="text-muted">&nbsp;&nbsp;<small>22/07/2021</small></span>
                                </h6>
                                <h6 class="card-title mb-0">
                                    Hi Jessica! You only need another booster shot if you have low antibody levels.
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="post-answer mt-6">
                        <form action="/ask-a-question" method="POST">
                            <h4>Post an answer</h4>
                            <div class="form-group mt-3">
                                <textarea class="form-control" rows="3" name="details"
                                    placeholder="Type your answer here"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit">Answer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="fragments/footer :: footer"></footer>
    </div>
</body>

</html>